[submodule "CSipSimple/jni/zrtp4pj/sources"]
	path = CSipSimple/jni/zrtp4pj/sources
	url = git@github.com:0x0B501E7E/ZRTP4PJ.git
[submodule "CSipSimple/jni/fdk_aac/sources"]
	path = CSipSimple/jni/fdk_aac/sources
	url = git@github.com:0x0B501E7E/aac.git
[submodule "CSipSimple/jni/openssl/sources"]
	path = CSipSimple/jni/openssl/sources
	url = git@github.com:0x0B501E7E/platform_external_openssl.git
[submodule "CSipSimple/jni/ffmpeg/ffmpeg_src"]
	path = CSipSimple/jni/ffmpeg/ffmpeg_src
	url = git@github.com:0x0B501E7E/ffmpeg.git
[submodule "CSipSimple/jni/ffmpeg/x264_src"]
	path = CSipSimple/jni/ffmpeg/x264_src
	url = git@github.com:0x0B501E7E/x264.git
[submodule "CSipSimple/jni/opus/sources"]
	path = CSipSimple/jni/opus/sources
	url = git@github.com:0x0B501E7E/opus.git
[submodule "CSipSimple/jni/libvpx/sources"]
	path = CSipSimple/jni/libvpx/sources
	url = git@github.com:0x0B501E7E/webm.libvpx.git
[submodule "CSipSimple/jni/codec2/sources"]
	path = CSipSimple/jni/codec2/sources
	url = git@github.com:0x0B501E7E/codec2.git
[submodule "CSipSimple/jni/pjsip/sources"]
	path = CSipSimple/jni/pjsip/sources
	url = git@github.com:0x0B501E7E/pjproject.git
